/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap";
@import "bootstrap/theme";

$footer_height:     40px;

html {
    min-height:     100%;
}

body {
    padding-top:    70px;
    padding-bottom: $footer_height;
}

footer {
    position:       absolute;
    bottom:         0;
    width:          100%;
    height:         $footer_height;
    background:     #f5f5f5;

    .container {
        position:       relative;
        text-align:     center;
        margin:         10px auto;

        .pull-right {
            position:       absolute;
            right:          0;
            top:            0;
            margin:         0 25px;
        }
    }
}
